body{
	color:silver;
	font-family: serif;
}
a:hover{
	background-color:white;
	font-size: 20px;
}
p{
	background-color: black;
	color: silver;
	font-size: 15px;
	font-family: Verdana, sans-serif;
}
}
a:link{
	color: white;
	text-decoration: underline;
}
a:visited{
	color:silver;
	text-decoration: underline;
}
